.MuiDialog-root {
  z-index: 1300;
}

.MuiDialog-paper {
  margin: var(--topbar-height) 32px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

:root {
  --topbar-height: 40px;
  --sidebar-width: 57px;
  --footer-height: 32px;
  --aria-hidden: false;
}

.mainwindow {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set height to full viewport height */
}
.topbar{
  box-sizing: border-box;
  height: var(--topbar-height);
  width: 100%;
}

.appbody{
  /* Set height to full viewport height minus the topbar height and border */
  height: calc(100vh - var(--topbar-height) - 1px);
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-radius: 5px;
}
.sidebar{
  width: var(--sidebar-width);
  height: 100%;
  box-sizing: border-box;
  float: left;
  position: relative;
  z-index: 100;
}
.chatbox{
  width: calc(100% - var(--sidebar-width)); /* Set width to 100% minus the sidebar width */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally centers the content */
  overflow: auto;
  z-index: 10;
  position: relative;
}

/* Add styling to the footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #939393;
  color: white;
  text-align: left;
  padding: 3px 6px 6px 6px;  
  height: 20px;
  font-size: small;
  z-index: 1000;
}

.modal-content{
  color: #000000;
  padding: 0;
}



.grayed-out {
  opacity: 0.5; /* Or any value less than 1 to make it look faded */
  background-color: #f0f0f0; /* Optional: change the background color */
  pointer-events: none; /* Optional: to prevent interactions */
  user-select: none; /* Optional: to prevent text selection */
}

.dl-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.dl-button-container .window-control {
  border-radius: 0;
  transition: background-color 0.2s;
  height: 100%;
  width: 40px;
  margin: 0;
  padding: 8px;
}

.dl-button-container .window-control:hover {
  background-color: rgba(255, 255, 255, 0.08);
}