


.logo {
    flex-shrink: 0;
    flex-grow: 0;
    width: var(--topbar-logo-width);
    height: 100%;
}

.infobox:hover{
    background-color: #333333;
}

.infoshape {
    position: relative;
    top: -1px;
    margin-left: 6px;
    width: 13px;
    height: 13px;
}

.info-footer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
}

.footer-button {
  width: 100%;
  height: 100%;
}

.info-modal {
    padding: 0px;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    /* background-color: #e9e9e9; */
    margin: -40px;
}

.info-logo {
    background-color: var(--logo-container-background-color);
    width: 60px !important;
    height: 60px !important;
}

.info-title {
    width: 575px;
    padding-left: 10px;
}

.info-content {
    padding-top: 20px !important;
}

.no-footer {
    display: none;
}
.children-wrapper {
    overflow-y: auto;
}

.dialog-actions {
    padding: 0px !important;
}

.MuiDialog-root .MuiBackdrop-root {
  pointer-events: auto;
}
