.file-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.file-attach-container {
    display: flex;
    flex-direction: row;
    border: dashed 1px grey;
    padding: 10px;
    justify-content: space-between;
    height: 60px;
}

.file-attach-names {
    overflow-y: auto;
    overflow-x: hidden;
    align-self: center;
    text-overflow: ellipsis;
    font-size: small;
    width: 60%;
    padding: 0;
    margin: 0;
}

.file-attach-error {
    font-size: x-small;
    color: red;
}