@import url('../App.css');

.fm-modal-overlay {
  position: fixed;
  top: var(--topbar-height);
  left: var(--sidebar-width);
  right: 0;
  bottom: 17px;
  /* bottom: var(--footer-height); */
  flex-direction: column;
  box-sizing: border-box;
  background-color: white; /* Semi-transparent background */
  display: flex;
  justify-content: space-between;
  padding: 15px;
  z-index: 1000; /* Ensure it's above other content */
  overflow: auto;
}

.filebox {
  display: flex;
  width: 100%;
  height: 85%;
  padding-top: 15px;
  flex-direction: column;
  justify-content: top;
  overflow: auto;
}

.close-button {
  display: flex;
  margin-top: 8px !important;
  background-color: #0054ae !important;
  text-transform: none !important;
  width: 23%;
  height: 6%;
  white-space: pre;
  border-radius: 0px !important;
}

.add-remove-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  height: 7%;
}

.add-buttons {
  display: flex;
  background-color: #0054ae !important;
  text-transform: none !important;
  width: 49%;
  height: 90%;
  border-radius: 0px !important;
}

.cancel-buttons {
  display: flex;
  background-color: #c73d3d !important;
  text-transform: none !important;
  width: 49%;
  height: 90%;
  border-radius: 0px !important;
}

.remove-buttons {
  background-color: #c73d3d !important;
  display: flex;
  text-transform: none !important;
  width: 49%;
  height: 90%;
  border-radius: 0px !important;
}

button.remove-buttons:disabled {
  opacity: 0.3;
}

button.add-buttons:disabled {
  opacity: 0.3;
}


