.workflow-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.workflow-option {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px;
  padding-left: 7px;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  border: 1px rgb(224, 224, 224) solid;
  user-select: none;
  font-size: small;
}

.disabled-workflow-option {
  background-color: rgb(226, 226, 226) !important;
  color: grey !important;
  cursor: inherit !important;
}

.inactive-workflow-option {
  background-color: rgb(247, 247, 247);
}

.inactive-workflow-option:hover {
  background-color: rgba(253, 253, 253, 0.137);
}

.active-workflow-option {
  background-color: var(--primary-main-color);
  color: var(--primary-text-color);
}

.active-workflow-option img {
  filter: invert(1);
}

.disabled-workflow-option img {
  opacity: 0.5;
}

.large-workflow-option {
  margin-top: 10px;
  font-size: x-large;
}

.workflow-option-title {
  padding-left: 10px;
}

.workflow-icon {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.workflow-image-icon {
  margin: 0;
  padding: 0;
  width: 23px;
  height: 23px;
}

.special-features-title {
  margin-top: 7px;
}
