.workflow-body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    /* justify-content: space-between; */
}

.workflow-text-input {
    background-color: white;
}

.workflow-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.workflow-horizontal-input {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.workflow-reasoning-container {      
    flex-direction: row;
    margin-left: 83%;
    height: 3px;
}

.workflow-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.workflow-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: var(--secondary-main-color, #ffffff);
    color: #3a3a3a;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    user-select: none;
    gap: 20px;
}

.workflow-header-start {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.workflow-header-middle {
    max-height: 50px;
    overflow-y: auto;
    scrollbar-color: rgba(37, 37, 37, 0.5) transparent;
    scrollbar-width: thin;
    flex-grow: 1;
    align-self: start;
    padding-top: 6px;
}

.workflow-title {
    font-size: 23px;
    font-weight: 450;
}

.workflow-description {
    font-size: small;
    font-weight: normal;
}

.workflow-back-button { 
    border: none;
    padding: 7px;
    width: 100px;
    float: right;
    font-size: medium;
    /* color: black; */
    /* background-color: white; */
    color: var(--primary-text-color);
    background-color: var(--primary-main-color);
    border-radius: 50px;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}

.workflow-back-button:hover {
    opacity: 0.5;
}

.workflow-left-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.workflow-header-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
}

.workflow-model-text {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    /* font-weight: bold; */
    gap: 3px;
    align-items: center;
}

.suboptimal-model {
    /* color: rgb(255, 176, 58); */
}

.optimal-model {
    /* color: rgb(68, 177, 46); */
}