.drag-n-drop-container {
  margin-top: 20px;
  margin-bottom: 8px;
  padding: auto;
}

.instructions {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333333;
}

.instructions:hover {
  color: #00c7fd;
}

.dragAndDropVisibility {
  background-image: url("../../assets/dragndrop/normal_u168.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 30px;
  height: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  border: none;
  transform: rotate(90deg);
  transition: transform 0.5s;
  margin-bottom: 10px;
}

.dragAndDropVisibility:hover {
  background-image: url("../../assets/dragndrop/mouseover_u168_mouseover.svg");
}

.dragAndDropVisibility.rotated {
  transform: rotate(-90deg);
}

.medium-text.large-font {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 10px;
}

.light-text {
  font-weight: 300;
  font-size: 12px;
  margin: 2px 0 0 8px;
  margin-bottom: 10px;
}

.drag-drop-area {
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 98px;
  padding: 2px 2px 2px 2px;
  border: 2px dashed #aaaaaa;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.drag-and-drop-logo {
  display: flex;
  align-content: center;
  margin-right: 20px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

.drag-and-drop-files{
  max-width: 200px;
  min-width: 100px;
  box-sizing: border-box;
  text-align: left;
  line-height: normal;
  display: flex;
  flex-direction: column;
}

.drag-and-drop-status {
  box-sizing: border-box;
  min-width: 100px;
  max-width: 300px;
  align-content: center;
  justify-content: center;
  line-height: normal;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 5px;
  height: 88px;
  line-break: anywhere;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.loading-spinner {
  margin-right: 10px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  /* Blue color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  animation: spin 2s linear infinite;
}

.loading-container {
  display: flex;
  align-items: center;
  /* Vertically center the spinner and text */
  justify-content: flex-start;
  /* Align items to the start of the container */
}

.completed-container {
  line-break: anywhere;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.drag-and-drop-files p {
  margin: 0;
  padding: 0;
}

.dragndrop-large-text {
  font-size: 16px;
  color: #555555;
}

.dragndrop-small-text {
  font-size: 10px;
  color: #aaaaaa;
}

.drag-and-drop-buttons {
  display: flex;
  align-items: center;
  /* Centers items horizontally */
  flex-direction: column;
  justify-content: flex-end;
  /* Align items to the end (right) of the container */
  margin-left: auto;
  /* Pushes the element to the right */
  margin-right: 20px;
  /* Pushes the element to the right */
  font-size: 14px;
}

.manage-files {
  display: flex;
  text-transform: none !important;
  width: 350px;  
  justify-content: center;
}

.manage-files:disabled {
  background-color: #d3d3d3 !important;
  color: #a9a9a9 !important;
  border: 1px solid #a9a9a9 !important;
  filter: grayscale(100%);
}

.manage-files-img {
  padding: 2px 2px 2px 2px;
  margin-right: 5%;
}

[disabled] .manage-files-img {
  filter: opacity(0.5);
}

.add-buttons-group {
  display: flex;
  /* width: 400px; */
  justify-content: center;
  gap: 10px;
}

.add-files,
.add-folders
{
  display: flex;
  text-transform: none !important;
  width: 170px;
  padding: 2px 2px 2px 2px;
  margin-bottom: 4px !important;
  text-align: center;
  line-height: normal;
  align-items: center;
  justify-content: center;
}

.cancel-upload {
  display: flex;
  text-transform: none !important;
  width: 170px;
  height: 30px;
  border-radius: 0px !important;
  padding: 2px 2px 2px 2px;
  margin-bottom: 4px !important;
  border: 1px solid #d7d7d7;
  border-radius: 0px;
  background-color: #0054ae !important;
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff !important;
  text-align: center;
  line-height: normal;
  align-items: center;
  justify-content: center;
  background-color: #c73d3d !important;
  width: 350px;
}

.MuiButton-root.Mui-disabled {
  background-color: #d3d3d3 !important;
  color: #a9a9a9 !important;
  cursor: not-allowed !important;
  border: 1px solid #a9a9a9 !important;
}

.add-files-label {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.add-files:hover {
  background-color: #00c7fd;
  box-sizing: border-box;
}

.add-files-img {
  width: 16px;
  height: 16px;
  padding: 2px 2px 2px 2px;
  margin-right: 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.upload-completed-text {
  margin-bottom: 5px;
}

.upload-completed-list {
  margin-top: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 790px) {
  .drag-drop-area {
    min-height: 180px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px;
  }

  .drag-and-drop-logo,
  .drag-and-drop-files {
    align-self: center;
  }

  .drag-and-drop-status {
    max-width: 42%;
  }

  .drag-and-drop-buttons {
    width: 100%;
    margin: 10px 0 0 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .add-buttons-group {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
  }

  .add-files,
  .add-folders,
  .cancel-upload,
  .manage-files {
    width: 100%;
  }
}