.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Fluid width */
  max-width: 1080px; /* Optional max width */
  background-color: white; /* Equivalent to bgcolor: 'background.paper' */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23); /* Equivalent to boxShadow: 24 */
  padding: 0; /* Equivalent to p: 4 (4 * 8px) */
  border-radius: 8px; /* Equivalent to borderRadius: 2 (2 * 4px) */
  max-height: 80vh; /* Maximum height of the modal */
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e9e9e9;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 60px;
  min-height: 60px;
  position: relative;
  gap: 10px;
}

.info-logo-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
  background-color: var(--logo-container-background-color);
  border-top-left-radius: 8px;
  width: 60px;
  pointer-events: none;
}

.modal-title {
  margin-left: 16px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 16px 32px;
  box-sizing: border-box;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #e9e9e9;
}

.modal-footer > * {
  height: 100%;
  display: flex;
  align-items: center;
}

.close-fluid-button {
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
}