.sidebar-container {
  height: 100%;
  width: var(--sidebar-width);
}

.history-overlay {
  position: fixed;
  left: var(--sidebar-width);
  top: var(--topbar-height);
  width: 100%;
  height: calc(100% - var(--topbar-height));
  z-index: -1;
  pointer-events: none;
  margin: 0;
}

.history-overlay.open {
  /* Block the main window from receiving events */
  pointer-events: auto;
}

.history-container {
  position: relative;
  top: 0;
  /* Left is the width + box-shadow size */
  left: -234px;
  width: 231px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 0px 0px rgba(215, 215, 215, 0.34901960784313724);
  transition: left 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.history-container.open {
  left: 0;
}

.history-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  user-select: none;
}

.history-item {
  padding: 6px 0 6px 14px;
  margin-top: 14px;
  cursor: pointer;
  display: flex;
}

.history-item.selected {
  background-color: rgba(242, 242, 242, 1);
}

.history-item:hover {
  background-color: rgba(242, 242, 242, 1);
}

.history-item-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37px;
}

.history-item-icon {
  width: 14px;
  height: 14px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  color: #555555;
}

.history-item-icon-hover {
  opacity: 1;
}

.history-item-edit:hover {
  color: #0054ae;
}

.history-item-remove:hover {
  color: #c81326;
}

.history-item-session {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.history-item-session-name {
  color: #1e98d7;
  font-size: 16px;
  /* max-width: calc(231px - 14px); */
  max-width: 150px;
  max-height: 1.5em;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: transparent;
}

.history-item-session-edit-mode {
  font-weight: bold;
}

.history-item-session-date {
  color: #7f7f7f;
  font-size: 12px;
}
